@charset "UTF-8";
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.wrapper{
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}
.container{
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
}
.content{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}
.container div{border: 2px dotted pink}
/* .wrapper div{border : 1px dotted black} */
#soccer_intro{
	width: 100%;
	height: 100px;
}
#login_tab{
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 0 auto;
}
#inner{
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
}
#join_div{
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 20%;

}
#join_div input{width: 100%; height: 100%; }
#dept_btn{
	display: grid;
	width: 100%;
	height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#login_form{width: 100%; height: 300px; margin-top: 18px}
#join_form{width: 100%; height: 100%; }

#login_tab div{border : 1px solid black;}
#login_btn{width:100%; height: 100%}
#join_btn{width:100%; height: 100%}
.input_text{width: 100%; height: 100%}
#join_a{width:100px;margin: 0 auto}

#moneyhub_logo{
	width: 100%; height: 100%
}

#dept_btn input{ width:100%; height: 100% }

#login_tab_item_1{
	padding-left : 10px;
	padding-top: 25px;
}
#login_tab_item_2{
	padding-left : 10px;
	padding-top: 25px;
}
#login_tab_item_3{
	padding-left : 10px;
	padding-top: 25px;
}


